<h1>{{ title }}</h1>

<input type="text" [(ngModel)]="dato" style="margin-right: 5px;">
<button (click)="clickAdd()" style="margin-right: 5px;">Add Todo</button>
<button (click)="clickAll()" style="margin-right: 5px;">All</button>
<button (click)="clickCompleted()" style="margin-right: 5px;">Completed</button>
<button (click)="clickIncomplete()" style="margin-right: 5px;">Incomplete</button>

<ul *ngIf="bandAdd">
  <li *ngFor="let i of add" 
  [ngStyle]="{
    'list-style-type': 'square'
  }">
    {{ i }}
  </li>
</ul>

<ul *ngIf="bandAll">
  <h2>Completed</h2>
  <li *ngFor="let i of completed" 
  [ngStyle]="{
    'list-style-type': 'disc'
  }">
    {{ i }}
  </li>
  <h2>Incomplete</h2>
  <li *ngFor="let i of incomplete"
  [ngStyle]="{
    'list-style-type': 'circle'
  }">
    {{ i }}
  </li>
</ul>

<ul *ngIf="bandCompleted">
  <li (click)="todoCompleted(i)" *ngFor="let i of completed"
  [ngStyle]="{
    'cursor': 'pointer',
    'width': '18px',
    'list-style-type': 'disc'
  }">
    {{ i }}
  </li>
</ul>

<ul *ngIf="bandIncomplete">
  <li (click)="todoIncomplete(i)" *ngFor="let i of incomplete" 
  [ngStyle]="{
    'cursor': 'pointer',
    'width': '18px',
    'list-style-type': 'circle'
  }">
    {{ i }}
  </li>
</ul>